.nav-container {
  position: fixed;      /* Make it stay on top */
  top: 0;               /* Align to the top of the page */
  left: 0;
  right: 0;
  z-index: 1000;        /* Ensure it's above other content */
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  margin-top: 60px;
}

.nav-button {
  text-decoration: none;
  color: #0b3d0b;
  padding: 0.5rem 1rem;
  font-weight: bold;
  border-radius: 8px;
  transition: background-color 0.3s, transform 0.3s;
  border: none;
  font-size: 1rem;
}

.nav-button:hover {
  background-color: #08b751;
  transform: scale(1.05);
  color: #fff;
  cursor: pointer;
}

.center-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
}

.outer-circle {
  width: 350px;
  height: 350px;
  background: #222;
  border-radius: 50%;
  position: relative;
  box-shadow: 0 0 0 8px #555;
  display: flex;
  justify-content: center;
  align-items: center;
}

.outer-circle-af {
  width: 350px;
  height: 350px;
  background: #222;
  border-radius: 50%;
  position: relative;
  box-shadow: 0 0 0 8px #555;
  display: flex;
  justify-content: center;
  align-items: center;
}



.inner-circle {
  width: 270px;
  height: 270px;
  background: #baff13;
  transition: background-color 0.3s ease;  
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.side-dot {
  position: absolute;
  width: 38px;
  height: 38px;
  background: #baff13;
  border: 6px solid #222;
  border-radius: 50%;
  z-index: 2;
}
.top    { left: 50%; top: -19px; transform: translateX(-50%); }
.bottom { left: 50%; bottom: -19px; transform: translateX(-50%); }
.left   { top: 50%; left: -19px; transform: translateY(-50%); }
.right  { top: 50%; right: -19px; transform: translateY(-50%); }

.side-line {
  position: absolute;
  width: 12px;
  height: 60px;
  background: #888; /* grey */
  transform: rotate(45deg);
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%); /* Diamond shape */
  z-index: 2;
}

.top {
  top: -20px;
  left: 50%;
  transform: translateX(-50%) rotate(0deg);
}

.bottom {
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%) rotate(0deg);
}

.left {
  left: 0px;
  top: 50%;
  transform: translateY(-50%) rotate(85deg);
}

.right {
  right: 0px;
  top: 50%;
  transform: translateY(-50%) rotate(85deg);
}


.overlay {
  position: fixed;       /* Fixed to cover entire screen */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;         /* Make sure this is above all other elements */
  animation: fadeInOut 2s forwards;
  pointer-events: none;  /* Optional: let clicks pass through */
}

.overlay.green {
  background: #baff13;
}

.overlay.red {
  background: red;
}

@keyframes fadeInOut {
  0% { opacity: 0; }
  20% { opacity: 1; }
  80% { opacity: 1; }
  100% { opacity: 0; }
}
